#contents {
	border:1px solid black;
	margin:0 auto;
	width:500px;

}
.cont {
	margin-left:30px;
	width:400px;
	margin-top:30px
}

.conts {
	margin:30px 0 30px 30px;
}

.info {
	margin-left:30px;
	
}

.publickInfo {

	margin:20px 20px;
}
#title {
	margin-right:20px;
	
}
.nextStep {
	margin:20px 0 30px 300px;
	
}	
/*
#jump {
	margin-top:25px;
	margin-left:-40px;
	
	position:absolute;
}				
*/
.mess {
	margin-left:10px;
}

.message {
	margin:20px 0 0 58px
}